:root {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  align-items: baseline;
  width: 95%;
  margin: 0 auto;
}

main > span#time-text {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

main > span#timer {
  font-family: "Iceland", sans-serif;
  font-size: 5rem;
  margin-left: 2%;
}
